/* VARIABLES */

:root {
    --font-family: 'Monstserrat', sans-serif;
    --primary-color-landing: #FFE4E4;
    --secondary-color-landing: #FFBFDA;
    --primary-color-xp: #52A5FF;
    --secondary-color-xp: #c6f7ec;
    --third-color-xp: #FFBFDA;
    --light: rgb(249, 247, 247);
    --dark: black;

    --spacing: 1.5vh;
    --border-radius: 0.25em;
    --box-shadow: black 5px 7px 0px;
    --border: 3.1px solid black;
}

/* GÉNÉRAL */

p {
    font-size: 0.8rem;
    line-height: 1.5;
}

/* NAVBAR */

nav {
    justify-content: center;
    gap: calc(var(--spacing) * 2);
}

/* LANDING PAGE */

.main-section-landing {
    display: initial;
}

.left-section-landing {
    padding: calc(var(--spacing) *2) calc(var(--spacing) * 8) calc(var(--spacing) * 9) calc(var(--spacing) * 8);
}

.landing-page-title {
    letter-spacing: 0.07rem;
    font-size: 1.1rem;
    rotate: -1deg;
}

.cta {
    font-size: 0.7rem;
}

.arrow-left-landing {
    max-height: 15vh;
    bottom: 9vh;
}

.right-section-landing {
    border-left: initial;
    border-top: 2px solid black;
    padding-bottom: calc(var(--spacing) * 4);
}

.arrow-right-1-landing,
.arrow-right-2-landing {
    display: none;
}

.landing-illustration {
    min-width: 11em;
    min-height: 13em;
}

/* EXPERIENCES PAGE */

.main-section-xp {
    background-color: var(--primary-color-xp);
}

.left-section-xp {
    min-width: 10vw;
}

.left-section-xp ul {
    padding: 0;
}

li.container-xp {
    min-width: initial;
    max-width: 1.6em;
    max-height: 1.6em;
    overflow: hidden;
}

.left-section-xp ul li {
    border-radius: 50%;
}

.right-section-xp {
    flex-direction: column-reverse;
    align-items: center;
    background-color: #F1F5FF;
    margin: calc(var(--spacing) *2);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: calc(var(--spacing) * 3.5) calc(var(--spacing) * 4.5);
    margin-bottom: calc(var(--spacing) * 8);
}

.container-description {
    padding-right: initial;
}

.right-section-xp p {
    padding-bottom: calc(var(--spacing) * 3);
}

.container-illustration {
    min-height: initial;
}

.xp-illustration {
    border: var(--border);
    border-radius: var(--border-radius);
    max-width: 5em;
}

#illustration-1,
#illustration-3,
#illustration-4 {
    display: none;
}

#illustration-2 {
    --box-shadow: black 6px 4px 0px;
    border: 0.5px solid black;
    rotate: 3deg;
    min-width: 7em;
    min-height: 7em;
    margin-bottom: calc(var(--spacing) * 1.5);
}

.swirly-arrow {
    rotate: -112deg;
    max-height: 18vh;
    right: 1vw;
    bottom: -7vh;
}